.cheep-container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  background-color: var(--secondary-3);
  border-radius: 20px;
  height: fit-content;
  padding: 16px;
}
.cheep-profile-image {
  margin-top: 2%;
  width: 58px;
  height: 60px;
  border-radius: 50%;
}

.cheep-content {
  width: 72%;
}

.cheep-header {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.cheep-user-handle {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.cheep-title {
  margin-top: 2%;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 2%;
}
.cheep-message {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.profileImage {
  position: absolute;
  float: left;
  padding: 10px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.chirp-content {
  margin: 10px 0;
  padding: 5px 0;
  background: #FFFFFF;
  border-radius: 20px;
}

.cheep-text {
  padding-left: 100px;
}

.cheep-by-handle {
  color: #1DA1F2;
}

.cheep-by-handle:hover {
  color: #1DA1F2;
  opacity: 0.5;
  cursor: pointer;
}

.cheep-heading {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.main-cheep-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}