<template id="template">
  <article class="cheep-container">
    <img class="cheep-profile-image" bind-src="imageSrc" />
    <section class="cheep-content">
      <header class="cheep-header">
        <section>
          <p class="cheep-user-handle" bind-content="handle"></p>
          <h1 class="cheep-title" bind-content="heading"></h1>
        </section>
      </header>
      <section>
        <p class="cheep-message" bind-content="body"></p>
      </section>
    </section>
  </article>
</template>
