<template id="template">
  <main class="main-container">
    <h1>Edit Profile</h1>
    <form>
      <label for="username">Username: </label>
      <input id="username" bind-input="username" />
      <br />
      <label for="userBio">Bio: </label>
      <input id="userBio" bind-input="userBio" />
      <br />
      <label for="userLocation">Location: </label>
      <input id="userLocation" bind-input="userLocation" />
      <br />
      <label for="imageUrl">Profile image url: </label>
      <input id="imageUrl" bind-input="imageUrl" />
      <br />
      <button type="button" bind-click="saveChanges">SAVE</button>
    </form>
  </main>

  <script>
    navigateChange("settings_id");
  </script>
</template>
