:root {
  --primary: #ff476f;
  --primary-hover: #ec4468;
  --primary-text: "#000000";
  --secondary: #e5e5e5;
  --secondary-2: "#c4c4c4";
  --background: #f0f0f0;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}
