<template id="template">
  <section>
    <main class="main-container">
      <img src="" class="mainProfileImage" bind-src="profilePicture"/>

      <h1 id="userName" bind-content="name"></h3>

      <img src="/static/images/location-icon.svg" class="location-icon"/>
      <h3 id="userLocation" bind-content="location"></h3>

      <img src="/static/images/calendar-icon.svg" class="calendar-icon"/>
      <h3 id="userDateOfBirth" bind-content="dateOfBirth"></h3>

      <h3 id="userBio" bind-content="description"></h3>

      <section id="follow-info">
        <span class="follow-info">
          <span class="count-info-key count-info">Followers</span>
          <span class="count-info-value count-info" bind-content="followerCount"></span>
        </span>
        <span class="follow-info">
          <span class="count-info-key count-info">Following</span>
          <span class="count-info-value count-info" bind-content="followingCount"></span>
        </span>
      </section>
      <h1 id="cheepFeedHeader" bind-content="cheepFeedHeader">Your Cheeps:</h1>
      <section id="cheepsFeed">
        <article bind-component="cheep" bind-props-list="cheeps"></article>
      </section>
    </main>

    <aside class="trending-container" bind-component="trends"></aside>

    <script>
      navigateChange(
        "profile_id"
      );
    </script>

  </section>
</template>
