<template id="template">
  <section>
    <main class="main-container">
      <img src="" class="mainProfileImage" bind-src="profileImage"/>

      <h1 id="userName" bind-content="username"></h3>
      <h3 id="userTag" bind-content="userTag"></h3>

      <img src="/static/images/location-icon.svg" class="location-icon"/>
      <h3 id="userLocation" bind-content="location"></h3>

      <img src="/static/images/calendar-icon.svg" class="calendar-icon"/>
      <h3 id="userDateOfBirth" bind-content="dateOfBirth"></h3>

      <h3 id="userBio" bind-content="userBio"></h3>

      <section id="follow-info">
        <span class="follow-info">
          <span class="count-info-key count-info">Followers</span>
          <span class="count-info-value count-info" bind-content="followerCount"></span>
        </span>
        <span class="follow-spacer"></span>
        <span class="follow-info">
          <span class="count-info-key count-info">Following</span>
          <span class="count-info-value count-info" bind-content="followingCount"></span>
        </span>
      </section>
      <h1 id="cheepFeedHeader" bind-content="cheepFeedHeader">Home</h1>
      <article id="cheepsFeed" bind-component="cheep" bind-props-list="props"></article>
    </main>

    <aside class="trending-container" bind-component="trends"></aside>

  </section>
</template>
