<template id="template">
  <section>
    <main class="main-container">
      <img src="" class="profileImage" bind-src="profileImage"/>

      <h1 id="userName" bind-content="username"></h3>
      <h3 id="userTag" bind-content="userTag"></h3>

      <img src="/static/images/location-icon.svg" class="location-icon"/>
      <h3 id="userLocation" bind-content="location"></h3>

      <img src="/static/images/calendar-icon.svg" class="calendar-icon"/>
      <h3 id="userDateOfBirth" bind-content="dateOfBirth"></h3>

      <h3 id="userBio" bind-content="userBio"></h3>

      <section id="follow-info">
        <h3 class="count-info-key class-info">Followers</h3>
        <h3 class="count-info-value class-info" bind-content="followerCount"></h3>

        <h3 class="count-info-key class-info">Following</h3>
        <h3 class="count-info-value class-info" bind-content="followingCount"></h3>
      </section>

      <section id="cheepsFeed">
        <article bind-for="cheeps">
          <h3 bind-content="username"></h3>
          <span for-value="message"></span>
        </article>
      </section>
    </main>

  </section>
</template>
